.about-text a1{
    position: absolute;
    top: 115%;
    left: 100px;
    transform: translateY(-50%);
    font-size: 56px;
    font-weight: 900px;
    color: white;
    font-family: 'Dongle Light', sans-serif;
    letter-spacing: 12px;
    white-space: nowrap;
}

.description-box {
    position: absolute;
    margin-top: 290px;
    margin-left: 99px;
    padding: 20px;
    border: transparent; /* tebal */
    color: white;
    font-family: 'Dongle Light', sans-serif;
    font-size: 41px;
    width: 90%;
    max-width: 800px;
    border-radius: 8px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.description-box:hover {
    background-color: transparent;
}

#descriptionBox {
    transition: box-shadow 0.3s ease;
}

#descriptionBox:hover {
    box-shadow: 0 0 30px 10px white; /* cahaya saat hover */
}

.highlight-link {
    text-decoration: none;
    color: white;
    font-size: 41px; /* konsisten dengan teks lain */
    transition: all 0.3s ease;
    font-family: 'Dongle Light', sans-serif;
}

.highlight-link:hover {
    text-decoration: underline;
    font-size: 44px; /* membesar saat hover */
    font-weight: 700px;
    cursor: pointer; /* ubah mouse menjadi pointer */
}

@media (max-width:400px) {
    .about-text a1{
    position: absolute;
    top: 115%;
    left: 30px;
    transform: translateY(-50%);
    font-size: 14px;
    font-weight: 900px;
    color: white;
    font-family: 'Dongle Light', sans-serif;
    letter-spacing: 3px;
    white-space: nowrap;
}

.description-box {
    position: absolute;
    margin-top: 250px;
    margin-left: 19px;
    padding: 30px;
    border: transparent; /* tebal */
    color: white;
    font-family: 'Dongle Light', sans-serif;
    font-size: 20px;
    width: 70%;
    max-width: 800px;
    border-radius: 6px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.description-box:hover {
    background-color: transparent;
}

#descriptionBox {
    transition: box-shadow 0.3s ease;
}

#descriptionBox:hover {
    box-shadow: 0 0 30px 10px white; /* cahaya saat hover */
}

.highlight-link {
    text-decoration: none;
    color: white;
    font-size: 24px; /* konsisten dengan teks lain */
    transition: all 0.3s ease;
    font-family: 'Dongle Light', sans-serif;
}

.highlight-link:hover {
    text-decoration: underline;
    font-size: 30px; /* membesar saat hover */
    font-weight: 700px;
    cursor: pointer; /* ubah mouse menjadi pointer */
}

.about-text {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%), url('Tak_berjudul196_20250509205959.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 97%;
    margin-top: 680px;
}
}